body{
    background-color: rgb(36, 53, 63);
}
.navbar{
    background-color: rgb(36, 53, 63) !important;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
.welcome{
    background-color: rgb(36, 53, 63);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
h1{
    color: #17a2b8;
}